.container {
    display: flex;
    background-color: #225175;
    padding: .5vw;
    border: 1px solid black;

}

.navBarAuth {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}


.navBarCenter {
    align-self: center;
    justify-content: center;

}

.navBarRight {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;

}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: 0;
}

#navLinks {
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-size: 4vw;

}

#homeLink {
    color: #f0f6fb;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8em;
    align-self: center;
    text-shadow: 1px 1px 1px #000;

}

#authLink {
    text-decoration: none;
    color: #f0f6fb;
    text-align: center;
    width: 5vw;
    border-radius: 5px;
    background-color: #3988c4;
    padding: 1vw;
    font-size: 90%;
    text-shadow: 1px 1px 1px #000;
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#navLinks:hover {
    cursor: pointer;
}

#appLogoPic {
    width: 4vw;
    height: 4.5vw;
    margin: 10px 10px 10px 0;

}


.sideNavToggle {
    justify-self: center;
    background-color: #3988c4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid black;

}

.navBarAuth {
    width: 100%;

}

.sideBar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    line-height: 50px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sideNavLink {
    text-decoration: none;
    color: black
}


.sideBar ul li {
    width: 100%;
    margin: 0;
    display: block;
    padding: 1%;
}

.sideBar ul li:hover {
    background-color: #3988c4
}


.sideBarContainer {
    display: flex;
    flex-direction: column;

}